/* https://coolors.co/efefef-e2d4b7-34d1bf-08b2e3-d1345b*/

body {
  background-color: #EFEFEF;
}
a {
  color: #39C6B6;
}
a:hover, a:focus {
  color:#28A394;
  text-decoration: none;
}



header {
  padding: 50px 100px 10px 100px;
  background-color: #D1345B;
}
header h1, header h2 {
  color:#fff;
  font-weight: lighter;
}
header h2 {
  font-size: 1.75rem;
  color: #E2D4B7;  
}
header .btn {
  background-color: #28A394;
}
header a:hover, header a:focus {
  color: #fff;
}



.card {
  width: 30rem;
  margin-bottom: .5rem;
  margin-right: .5rem;
}
.card:last-child {
  margin-right: 0; 
}
.card-title {
  color: #08B2E3;
}



.form-output {
  align-items: stretch;
  min-height: 300px;
  max-height: 400px;
}



.form-control {
  padding: 0; 
  height: 100%;
}
.editor {
  padding: .5rem .75rem 0 .75rem; 
  font-family: monospace;
  color: #9E9E9E;

}
.public-DraftStyleDefault-block {
  white-space: nowrap;
  overflow-x: hidden;
}
.DraftEditor-root {
  overflow-y: scroll;
  height: calc(400px - 1rem);

}



pre {
  /*color: #1B1B3A;*/
  /*background-color: #fff;*/
  padding: .5rem .75rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-left: 2px solid #D1345B;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  /*white-space: nowrap;*/
  height: 100%;
}



p.btn:hover {
  cursor: pointer;
}
.btn-custom {
  color: #fff;
  background-color: #34D1BF;
  /*transition: background-color 0.125s ease;*/
}
.btn-custom:hover {
  background-color: #28A394;
}


.invalid-input {
  color: #FF1744;
}
.valid-input {
  color: #00BFA5;
}



