
/*.container, .container-fluid {
  border: 1px dashed #333;
}
.row {
  border: 1px dashed red;
}
.col {
  border: 1px dashed blue;
}
*/

header {
  padding: 50px 100px 10px 100px;
  background-color: #EC407A;
}
header h1, header h2 {
  color:#fff;
  font-weight: lighter;
}
header h2 {
  font-size: 1.75rem;
}

.form-output {
  align-items: stretch;
  min-height: 300px;
  max-height: 400px;
}

.form-control {
  padding: 0 .75rem; 
  height: 100%;
}
.editor {
  padding: .5rem .75rem 0 .75rem; 
  font-family: monospace;
  color: #9E9E9E;
}

pre {
  padding: .5rem .75rem;
  border: 1px solid #eee;
  border-left: 2px solid #EC407A;
  white-space: nowrap;
  height: 100%;
}

.public-DraftStyleDefault-block {
  white-space: nowrap;
  overflow-y: auto;
  overflow-x: hidden;
}

.invalid-input {
  color: #FF1744;
}
.valid-input {
  color: #00BFA5;
}